apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "provenance-stack.fullname" . }}-api
  labels:
    {{- include "provenance-stack.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: api
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector: {}
      ports:
        - port: {{ .Values.api.containerPort }}
